{% extends 'base.html.twig' %}

{% block title %}Tarif index{% endblock %}

{% block body %}
    <h1>Tarif index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Tva</th>
                <th>Prix</th>
                <th>Kmp</th>
                <th>Design</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.id }}</td>
                <td>{{ tarif.libelle }}</td>
                <td>{{ tarif.tva }}</td>
                <td>{{ tarif.prix }}</td>
                <td>{{ tarif.kmp }}</td>
                <td>{{ tarif.design }}</td>
                <td>
                    <a href="{{ path('app_tarif_show', {'id': tarif.id}) }}">show</a>
                    <a href="{{ path('app_tarif_edit', {'id': tarif.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tarif_new') }}">Create new</a>
{% endblock %}
